

.header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #85d9f4; 
    background-image: url("./img/pattern.png");
    background-size: 23%;
 
    }

    .up {
        position: absolute;
        top: 0;
        left: 190px;
        z-index: 1;
        width: 240px;
        height: 90px;
        }



    .i { 
    font-style: italic;
     } 

    .container { 
      width: 80%;
      margin: auto;
      } 

.bg-yellow {
  background-color: yellow;
    }




  .bg-notsobluesky {
    background-color: #e1e6f1;
  }

  .bg-blue {
    background-color: #6da6fa;
    color: white;
  }

  .copyright {
    background-color: #2e3d64;
    color: white;
    text-align: center;
    height: 50px;
    margin-top: 30px;
    padding: 18px;
    
      }

      .table {
        width: 100%;
        text-align: left;
        table-layout: fixed;
   
          }

          
      .td {
        height: 15%;
   
          }